<h1>Update Addresses</h1>
<%= form_with(model: @location, local: true, class: "ui form" ) do |f| %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :name, required: true, placeholder: "First Name" %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: true, placeholder: "Last Name" %>

    <%= f.label :age %>
    <%= f.text_field :age, required: true, placeholder: "27" %>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, required: true, placeholder: "999-999-9999" %>
  </div>
  <%= f.submit nil, class: "ui blue button inverted" %>
<% end %>

create_table "locations", force: :cascade do |t|
  t.string "name"
  t.integer "days"
  t.bigint "travel_id", null: false
  t.datetime "created_at", precision: 6, null: false
  t.datetime "updated_at", precision: 6, null: false
  t.index ["travel_id"], name: "index_locations_on_travel_id"