<h1>Address</h1>

<%= link_to 'Edit Address', edit_address_path(@address), class: "ui blue button inverted" %>
<hr />

<h2>Street: <%= @address.street %></h2>
<h2>City: <%= @address.city %></h2>
<h2>State: <%= @address.state %></h2>
<h2>zip: <%= @address.zip %></h2>


