<h1>Locations Traveled To</h1>



<h1><%= @location.name %></h1>
<hr />
     <h2>Days: <%= @location.days %></h2>
   
     <h2>End Date: <%= @travel.end_date %></h2>
     
     <h2>Addresses</h2>
   
      <h2>Street: <%= @location.address.street %></h2>
      <h2>City: <%= @location.address.city %></h2>
      <h2>State: <%= @location.address.state %></h2>
      <h2>zip: <%= @location.address.zip %></h2>
 <br />
 <br />
 <%= link_to 'Edit Address', edit_location_address_path(@location), class: "ui yellow button" %>
 <%= link_to 'Delete location', @travel, method: :delete, class: "ui red button inverted" %>
 <%= link_to 'Edit location', edit_travel_path(@travel), class: "ui blue button inverted" %>